/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Container styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Profile styles */
  .profile {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-info {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Grid styles */
  .grid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .grid-item {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .grid-item:hover {
    background-color: #555;
  }
  
  /* Dialog styles */
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .dialog.hidden {
    display: none;
  }
  
  .dialog-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dialog-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .dialog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .dialog-message {
    margin-bottom: 20px;
  }
  
  .dialog p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .dialog button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dialog button:hover {
    background-color: #555;
  }
  
  .dialog-buttons {
    margin-top: 20px;
  }
  
  .dialog-button {
    margin-right: 10px;
  }
  
  /* Social media icons styles */
.social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-media-icons a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .social-media-icons img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Make them circular */
  }
  